element class = "style" {
  }
  main h2 {
      
      padding: 0.630em 0 0.630em 0.630em;
  }
  h1, h2, h3 {
      margin: 0;
      color: blue;
      text-align: center;
  }
  
  h2 {
      display: block;
      font-size: 1.25em;
      margin-block-start: 0.80em;
      margin-block-end: 0.80em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      text-align: center;
  }
  h4 {
    display: block;
    font-weight: bold;
    text-align: center;
  }
  header, main, footer {
      background-color: #ccc;
      font-size: 1.6em;
  }
   body {
      width: 100%;
      max-width: 1024px;
      margin: 0 auto;
      background-color: rgb(186, 148, 148);
      font-size: 62.5%;
  }
  html {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
  }
  figure {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  figcaption {
    font-style: italic;
  }
  
  footer {
    font-size: 1.25em;
    text-align: center;
    padding: 3em;
  }

  nav ul {
    text-align: center;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 3em;
    font-size: 0.75em;
  }
  
  footer p {
    display: inline-block;
  }
  
  img {
    width: 70%;
    max-width: 70%;
  }
        body {
      font-size: 60%;
    }
